body {
    margin: 0 auto;
}

.header {
    color: rgb(0, 0, 0);
}

.header-logo img {
    position: relative;
    bottom: 5px;
    width: 70px;
    height: 70px;
}
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D0726;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 70px;
    color: #ffffff;
}

.header-list ul { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    height: 50px;
    width: 100%;
    font-size: 18px;
    list-style: none;
}

.header-list li {
    padding: 0 15px;
}

.header-list a {
    color: #ffffff;
}

.header-list a:hover {
    opacity: 0.5;
    color: #ffffff;
}


/*ここからメイン*/

.main {
    position: relative;
}

.copy-container h1 {
    font-family: "Avenir Next";
    font-size: 100px;
    font-weight: bold;
    padding: 80px 80px 40px 80px;
}

.copy-container h2 {
    font-size: 50px;
    font-weight: bold;
    padding: 0 80px 0 80px;
}

.copy-container video {
    width: 100%;
    height: 100%;
}

.text-image {
    position: relative;
}
  
.text-image img {
    width: 100%;
}


.text-image h3 {
    position: absolute;
    top: 17%;
    left: 60%;
    right: 6%;
    font-size: 50px;
    color: #ffffff;
}
.text-image h4 {
    position: absolute;
    top: 78%;
    left: 70%;
    right: 2%;
    font-size: 30px;
    color: #ffffff;
}
.text-image p {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 30px;
    
    color: #ffffff;
}
.decorator {
    background-color: rgba(0, 0, 0, 0.5);   
}
.section-title {
    border-bottom: 3mm ridge rgba(18, 55, 94, 0.6);
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    font-size: 3.0rem;
    font-weight: 600;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, [class^=swiper-button-] {
    transition: all 0.3s ease;
}
  
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.swiper-container {
    width: 100%;
    height: 28vw;
    transition: opacity 0.6s ease;
}
.swiper-container.swiper-container-coverflow {
    padding-top: 2%;
}
.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide .entity-img {
    display: none;
}
.swiper-slide .content {
    position: absolute;
    top: 30%;
    left: 0;
    width: 50%;
    padding-left: 7%;
    color: #fff;
}
.swiper-slide .content .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "游明朝体";
}
.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
}
  
[class^=swiper-button-] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}
  
.swiper-button-prev {
    transform: translateX(50px);
}
  
.swiper-button-next {
    transform: translateX(-50px);
}
  
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}
  
@media (max-width: 1180px) {
    .swiper-slide .content .title {
      font-size: 25px;
    }
    .swiper-slide .content .caption {
      font-size: 12px;
    }
}
@media (max-width: 1023px) {
    .swiper-container {
      height: 60vw;
    }
    .swiper-container.swiper-container-coverflow {
      padding-top: 0;
    }
}

.contact-form {
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}


/*ここからフッター*/

.footer {
    background-color: #8D0726;
    color: #fff;
    height: 400px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.footer-logo {
    font-size: 30px;
    font-weight: bold;
    padding: 90px 20px 20px 50px;
    display: flex;
    justify-content: center;
}
.footer-logo img {
    position: relative;
    bottom: 55px;
    width: 120px;
    height: 120px;
}

.footer-list1 {
    position: relative;
    right: 100px;
    font-size: 18px;
    padding-top: 100px;
    padding-right: 70px;
}
.footer-list1 a {
    color: #ffffff;
}
.footer-list1 a:hover {
    opacity: 0.7;
    color: #ffffff;
}
.footer-list2 {
    position: relative;
    right: 150px;
    font-size: 18px;
    padding-top: 100px;
    padding-right: 78px;
}

.footer-list2 a {
    color: #ffffff;
}
.footer-list2 a:hover {
    opacity: 0.7;
    color: #ffffff;
}

.footer-list2 img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.footer-list2 .youtube img {
    width: 25px;
    height: 18px;
}

.footer-list li  {
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright {
    height: 20px;
    font-size: 10px;
    position: relative;
    top: 60px;
    right: 266px;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .header-list li {
        font-size: 15px;
    }
    .copy-container h1 {
        font-size: 60px;
    }
    .copy-container h2 {
        font-size: 30px;
    }
    .text-image h3 {
        font-size: 30px;
    }
    .text-image h4 {
        font-size: 20px;
    }
    .text-image p {
        font-size: 20px;
    }

    .footer-logo img {
        width: 50px;
        height: 50px;
        bottom: 6px;
    }
    .footer-logo {
        font-size: 20px;
        display: initial;
    }
    .copyright {
        font-size: 2px;
        top: 240px;
        left: 310px;
    }
    .footer-list1 {
        font-size: 12px;
        right: 30px;
    }
    .footer-list1 hr {
        width: 180px;
    }
    .footer-list2 {
        font-size: 12px;
        padding-right: 0;
        right: 50px;
    }
    .footer-list2 hr {
        width: 175px;
    }
}



@media (min-width: 426px) and(max-width: 768px) {
    .header-logo {
        font-size: 20px;
    }
    .header-list li {
        font-size: 9px;
    }
    .copy-container h1 {
        font-size: 50px;
    }
    .copy-container h2 {
        font-size: 20px;
    }
    .text-image h3 {
        font-size: 20px;
    }
    .text-image h4 {
        font-size: 15px;
    }
    .text-image p {
        font-size: 15px;
    }
    .section-title {
        font-size: 25px;
    }
    
    .footer-logo img {
        width: 50px;
        height: 50px;
        bottom: 6px;
    }
    .footer-logo {
        font-size: 15px;
        display: initial;
    }
    .copyright {
        font-size: 2px;
        top: 240px;
        left: 190px;
    }
    .footer-list1 {
        font-size: 10px;
        right: 30px;
    }
    .footer-list1 hr {
        width: 160px;
    }
    .footer-list2 {
        font-size: 10px;
        padding-right: 0;
        right: 50px;
    }
    .footer-list2 hr {
        width: 155px;
    }
}


@media (max-width: 425px) {
    .header-logo {
        font-size: 20px;
    }
    .header-list li {
        font-size: 12px;
    }
    .copy-container h1 {
        font-size: 50px;
    }
    .copy-container h2 {
        font-size: 20px;
    }
    .text-image h3 {
        font-size: 15px;
        left: 50%;
    }
    .text-image h4 {
        font-size: 6px;
        left: 50%;
        right: 2%;
    }
    .text-image p {
        font-size: 7px;
    }
    .section-title {
        font-size: 20px;
    }

    .title {
        font-size: 10px;
    }

    input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
    
    .footer-logo img {
        width: 50px;
        height: 50px;
        bottom: 6px;
    }
    .footer-logo {
        font-size: 15px;
        display: initial;
        position: relative;
        bottom: 80px;
        left: 220px;
    }
    .copyright {
        font-size: 2px;
        top: 300px;
        right: 10px;
        width: 250px;
    }
    .footer-list1 {
        font-size: 10px;
        right: 140px;
    }
    .footer-list1 hr {
        width: 160px;
    }
    .footer-list2 {
        font-size: 10px;
        padding-right: 0;
        right: 180px;
    }
    .footer-list2 hr {
        width: 155px;
    }
}