body {
    margin: 0 auto;
}

.header {
    background-color: #c2404d;
    color: #fff;
    height: 120px;
}

.header-logo img {
    width: 50px;
    height: 50px;
}
.header-logo {
    float: left;
    font-size: 40px;
    padding: 30px 70px;
}

.header-list li { 
    float: right;
    font-size: 20px;
    padding: 40px 30px 20px 30px;
    list-style: none;
}

.main {
    position: relative;
}

.copy-container h1 {
    font-family: "Avenir Next";
    font-size: 100px;
    font-weight: bold;
    padding: 80px 80px 40px 80px;
}

.copy-container h2 {
    font-size: 50px;
    font-weight: bold;
    padding: 0 80px 0 80px;
}

.copy-container video {
    width: 100%;
    height: 100%;
}


.copy-container img {
    margin: 0 auto;
}

.section-title {
    border-bottom: 3mm ridge rgba(18, 55, 94, 0.6);
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    font-size: 3.0rem;
    font-weight: 600;
    margin-bottom: 49px;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, [class^=swiper-button-] {
    transition: all 0.3s ease;
}
  
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.swiper-container {
    width: 100%;
    height: 28vw;
    transition: opacity 0.6s ease;
}
.swiper-container.swiper-container-coverflow {
    padding-top: 2%;
}
.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide .entity-img {
    display: none;
}
.swiper-slide .content {
    position: absolute;
    top: 30%;
    left: 0;
    width: 50%;
    padding-left: 7%;
    color: #fff;
}
.swiper-slide .content .title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "游明朝体";
}
.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
}
  
[class^=swiper-button-] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}
  
.swiper-button-prev {
    transform: translateX(50px);
}
  
.swiper-button-next {
    transform: translateX(-50px);
}
  
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}
  
@media (max-width: 1180px) {
    .swiper-slide .content .title {
      font-size: 25px;
    }
    .swiper-slide .content .caption {
      font-size: 12px;
    }
}
@media (max-width: 1023px) {
    .swiper-container {
      height: 40vw;
    }
    .swiper-container.swiper-container-coverflow {
      padding-top: 0;
    }
}

.contact-form {
    padding-top: 100px;
    text-align: center;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}

.footer {
    background-color: #9b3939;
    color: #fff;
    height: 230px;
    margin: 0;
}

.footer-logo {
    font-size: 40px;
    float: left;
    padding: 20px 20px 20px 20px;
}

.footer-list {
    font-size: 20px;
    float: right;
    padding-right: 70px;
}

.footer-list li  {
    padding-top: 10px;
    padding-bottom: 10px;
}